* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.25em;
}
header{
  min-height: 100vh;
  background-color: #dee9f2;
}
nav {
  position: fixed;
  width: 100%;
  background-color: #2c6ea0;
  text-align: center;
}
nav a {
  color: #dee9f2;
  text-decoration: none;
}
nav li {
  display: inline-block;
  padding: 1em;
}
nav ul {
  margin: 0;
}
header main {
  padding-top: 3em;
  font-size: 1.25em;
  text-align: center;
  color: #2c6ea0;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 1em;
}
.about-me {
  line-height: 2;
  padding: 3em 0;
}
.content {
  width: 50%;
  margin: 0 auto;
}
article {
  min-height: 100vh;
  color: #2c6ea0;
}
.projects {
  padding: 3em 0;
  line-height: 2;
  color: #2c6ea0;
  background-color: #dee9f2;
}
.projects img {
  width: 30%;
  padding: 30px 30px 30px 0;
}
